# PYTHON PROGRAMS:

Q 1. area of rectangle:

In [1]:
l=int(input("length in cm"))
b=int(input("breadth in cm"))
a=l*b
print("Area of rectangle is:",a,"cm^2")

length in cm12
breadth in cm8
Area of rectangle is: 96 cm^2

Q 2.Area of circle:

In [4]:
r=int(input("enter radius"))
a=3.14*(r*r)
print("Area of circle is :",a)

enter radius3
Area of circle is : 28.26

Q 3. Area of cuboid:

In [8]:
l=int(input("enter length"))
b=int(input("enter breadth"))
h=int(input("enter height"))
a=2*(l*b+b*h+h*l)
print("the area is:",a)

enter length7
enter breadth4
enter height9
the area is: 254

Q 4.Area of cube:

In [9]:
l=int(input("enter the length of cube"))
a=6*(l*l)
print("area of cube is :",a)

enter the length of cube5
area of cube is : 150

In [ ]:
Q 5.Area of csa of cylinder:

In [10]:
r=int(input("enter thr radius"))
h=int(input("enter height"))
a=2*(3.14*(r*h))
print("csa of cylinder is:",a)

enter thr radius5
enter height20
csa of cylinder is: 628.0

Q 6.area of TSA of cylinder:

In [11]:
r=int(input("enter radius"))
h=int(input("enter height"))
a=2*3.14*(r+h)
print("area is :",a)

enter radius4
enter height7
area is : 69.08

Q 7.Area of csa of cone:

In [14]:
r=int(input("enter radius"))
l=int(input("enter length"))
a=3.14*r*l
print("csa is:",a)

enter radius4
enter length6
csa is: 75.36

Q 8.Area of tsa of right circular cone:

In [15]:
r=int(input("enter radius"))
l=int(input("enter slant height"))
a=3.14*r*(l+r)
print("the tsa is:",a)

enter radius5
enter slant height23
the tsa is: 439.6

Q 9 TSA of sphere:

In [16]:
r=int(input("enter radius"))
a=4*(3.14*(r*r))
print("tsa of sphere is :",a)

enter radius5
tsa of sphere is : 314.0

Q 10. volume of cuboid

In [17]:
l=int(input("enter length"))
b=int(input("enter breadth"))
h=int(input("enter height"))
a=l*b*h
print("volume of cuboid is :",a)

enter length5
enter breadth6
enter height2
volume of cuboid is : 60

Q 11.volume of cube:

In [19]:
l=int(input("enter the length"))
a=l*l*l
print("volume of cube is :",a)

enter the length5
volume of cube is : 125

Q 12. volume of cylinder:

In [1]:
r=int(input("enter radius"))
h=int(input("enter height"))
v=3.14*(r*r)*h
print("volume is :",v)

enter radius5
enter height20
volume is : 1570.0

Q 13.volume of cone

In [3]:
r=int(input("enter radius"))
h=int(input("enter height"))
v=1/3*(3.14*(r*r)*h)
print("volume is :",v)

enter radius5
enter height3
volume is : 78.5

Q 14.volume of sphere:

In [4]:
r=int(input("enter radius"))
v=4/3*(3.14*(r*r*r))
print("volume is:",v)

enter radius4
volume is: 267.94666666666666

Q 15.perimeter of rectangle:

In [6]:
l=int(input("enter length"))
b=int(input("enter breadth"))
a=2*(l+b)
print("perimeter is:",a,"cm")

enter length34
enter breadth23
perimeter is: 114 cm

Q 16.area of square:

In [7]:
a=int(input("enter the length in cm"))
x=a*a
print("area of square is:",x,"cm^2")

enter the length in cm4
area of square is: 16 cm^2

Q 17.area of traingle

In [8]:
h=int(input("enter height"))
b=int(input("enter base"))
a=1/2*(b*h)
print("area is :",a,"cm^2")

enter height4
enter base5
area is : 10.0 cm^2

Q 18.greatest number is tree number:

In [9]:
a=int(input("enter the first number"))
b=int(input("enter second number"))
c=int(input("enter the third number"))
if a>b:
    if a>c:
        print("the greatest number is:",a)
    else:
        print("the greatest number is :",c)
else:
    if b>c:
        print("the greatest number is :",b)
    else:
        print("the greatest number is:",c)

enter the first number5
enter second number6
enter the third number7
the greatest number is: 7

Q 19.perimeter of traingle:

In [1]:
a=int(input("enter thr side of traingle"))
b=int(input("enter second side of triangle"))
c=int(input("enter third side of traingle"))
perimeter=a+b+c
print("the perimeter is:",perimeter)

enter thr side of traingle23
enter second side of triangle34
enter third side of traingle45
the perimeter is: 102

Q 20.Greatest number in four number:

In [3]:
a=int(input("enter the first number"))
b=int(input("enter second number"))
c=int(input("enter the third number"))
d=int(input("enter fourth number"))
if (a>b and a>c and a>d):
    print("greatest number is :",a)
elif (b>c and b>d):
    print("greatest number is :",b)
elif (c>d):
    print("greatest number is :",c)
elif (d>c):
    print("greatest number is :",d)
else:
    print("any two values or all values are equal")

enter the first number23
enter second number45
enter the third number1
enter fourth number56
greatest number is : 56

Q 21.check division in result

In [5]:
a=eval(input("enter marks out of 300"))
b=a/300*100
print("percentage is",b,"%")
if(a>300):
    print("you entered a wrong marks")
elif b>60:
    print("your division is first")
elif(b>50 and b<53):
    print("your division is first")
elif(b>33 and b<50):
    print("your division is third")
else:
    print("fail")

enter marks out of 300251
percentage is 83.66666666666667 %
your division is first

In [ ]:
Q 22.check age criteeia:

In [6]:
y=int(input("enter ypur age"))
if (y>0 and y<12):
    print("kid")
elif(y>=12 and y<19):
    print("teenager")
elif(y>19 and y<30):
    print("young")
elif(y>30 and y<45):
    print("mature")
elif(y>45 and y<60):
    print("experienced")
elif(y>60 and y<75):
    print("old")
elif(y>75):
    print("senior citizen")

enter ypur age24
young

Q 23 sum of n th number:

In [9]:
n=int(input("enter limit"))
s=0
for c in range(1,n):
    s=c+s
print("the sum is :",s)

enter limit9
the sum is : 36

Q 24.check the value of factorial:

In [10]:
a=int(input("enter number"))
factorial=1
if a<0:
    print("sory,factorial does not sxist for negative number")
elif a==0:
    print("the factorial of o is 1")
else:
    for i in range(1,a+1):
        factorial=factorial*i
    print("the factorial of",a,"is",factorial)

enter number34
the factorial of 34 is 295232799039604140847618609643520000000

Q 25.Print multiplication table

In [12]:
a=int(input("show the multiplication table of"))
for i in range(1,11):
    print(a,"x",i,"=",a*i)

show the multiplication table of23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

Q 26.print opposite right angle traingle:

In [13]:
num=int(input("enter thr number of rows"))
for i in range(num,0,-1):
    for j in range (0,i):
        print("*",end="")
    print()

enter thr number of rows4
****
***
**
*

Q 27.print 1,22,333,444

In [14]:
n=int(input("enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

enter the number of rows:6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

Q 28.print star pattern of opposite traingle

In [16]:
num=int(input("enter the number of rows"))
for i in range (0,num):
    for j in range (0,num-i):
        print(" ",end="")
    for k in range(0,i+1):
        print("*",end="")
    print("")

enter the number of rows4
    *
   **
  ***
 ****

Q 29.print pattern 1,12,123

In [18]:
n=int(input("enter the number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter the number of rows5
1
12
123
1234
12345

Q 30.print fibonacci series use while loop:

In [20]:
a=eval(input("enter the range"))
i=0
first_value=0
second_value=1
while(i<a):
    if(i<=1):
        next=i
    else:
        next=first_value + second_value
        first_value=second_value
        second_value=next
    print(next)
    i=i+1

enter the range5
0
1
1
2
3

Q 31.print fibonacci series use for loop

In [26]:
number=int(input("enter the range"))
first_value=0
second_value=1
for num in range(0,number):
    if(num<=1):
        next=num
    else:
        next=first_value + second_value
        first_value=second_value
        second_value=next
    print(next)

enter the range8
0
1
1
2
3
5
8
13

In [ ]:
Q 32 print pattern A,AB,ABC

In [30]:
ch=str(input("enter a charecter"))
a=ord(ch)
for x in range(65,a+1):
    for c in range (65,x+1):
        print(chr(c),end="")
    print("")

enter a charecterE
A
AB
ABC
ABCD
ABCDE

Q 33.calculation of X^n by fot loop:

In [2]:
x=int(input("enter no"))
b=int(input("enter power"))
y=x
for a in range(0,b-1):
    y=x*y
print(y)

enter no5
enter power7
78125

Q 34. Print the integer is palindrome or not palindrome:

In [3]:
n=int(input("enter number"))
x=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
if x==r:
    print("the number is palindrome")
else:
    print("the number is not palindrome")

enter number121
the number is palindrome

Q 35.print factorial of list

In [7]:
a=[]
fact=[]
ch="y"
while ch=="y" or ch=="Y":
    item=int(input("enter the element of list"))
    a.append(item)
    ch=input("do you want to enter more element :")
print("the list is :",a)
for i in a:
    f=1
    for j in range(1,i+1):
        f=f*j
    fact.append(f)
print("the factorial of each element is :",fact)

enter the element of list5
do you want to enter more element :Y
enter the element of list6
do you want to enter more element :Y
enter the element of list6
do you want to enter more element :N
the list is : [5, 6, 6]
the factorial of each element is : [120, 720, 720]

Q 36.print pascal triangle:

In [9]:
n=int(input("enter rows"))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter rows4
*
**
***
****

In [ ]:
Q 37.create a list of values inputted by user:

In [11]:
a=eval(input("enter limit"))
n=[]
for a in range(1,a+1):
    a=eval(input("enter element"))
    n.append(a)
print(n)

enter limit5
enter element7
enter element8
enter element8
enter element67
enter element45
[7, 8, 8, 67, 45]

Q 38. create a list of values inputted by user and  sort in increasing order

In [1]:
a=eval(input("enter limit"))
list=[]
for a in range(1,a+1):
    a=eval(input("enter element"))
    list.append(a)
print(list)
l=len(list)
for i in range(l):
    for j in range(0,l-i-1):
        if list[j]>list[j+1]:
            temp=list[j]
            list[j]=list[j+1]
            list[j+1]=temp
print("after sorting the list is")
print(list)

enter limit4
enter element45
enter element67
enter element43
enter element44
[45, 67, 43, 44]
after sorting the list is
[43, 44, 45, 67]

Q 39.sorting in ascending order use bubble sort

In [2]:
a=eval(input("enter limit"))
list=[]
for a in range(1,a+1):
    a=eval(input("enter element"))
    list.append(a)
print(list)
l=len(list)
for i in range(l):
    for j in range(0,l-i-1):
        if list[j]>list[j+1]:
            temp=list[j]
            list[j]=list[j+1]
            list[j+1]=temp
print("after sorting the list is")
print(list)

enter limit4
enter element5
enter element6
enter element7
enter element6
[5, 6, 7, 6]
after sorting the list is
[5, 6, 6, 7]

Q 40.create phone dictionary:

In [2]:
n=int(input("enter limit"))
m={}
mob=0
name=""
i=0
for i in range(0,n):
    mob=int(input("enter mobile number"))
    name=str(input("enter name"))
    z2=dict({mob:name})
    m.update(z2)
print(m)
n=int(input("enter the no to search in dictionary "))
print("the name of person is",m[n])

enter limit2
enter mobile number8600644099
enter nameAKSHAY
enter mobile number8605031748
enter nameNISHIGANDHA
{8600644099: 'AKSHAY', 8605031748: 'NISHIGANDHA'}
enter the no to search in dictionary 8600644099
the name of person is AKSHAY

Q 41 Find given number is prine or not

In [3]:
num=int(input("enter number"))
lim=int(num/2)+1
for i in range(2,lim):
    rem=num%i
    if rem==0:
        print(num,"is not prime number")
        break
else:
    print(num,"is prime number")

enter number34
34 is not prime number

Q 42.find given number is even or odd.

In [4]:
a=int(input("enter number"))
r=a%2
if r==0:
    print(a,"is even number")
elif r>0:
    print(a,"is odd number")
else:
    print("you enter a number 0 or less than 0")

enter number9
9 is odd number

Q 43.create a tupple of values inputed by user

In [5]:
a=()
l=[]
n=int(input("enter limit"))
for i in range(0,n):
    item=int(input("enter element"))
    l.append(item)
a=a+tuple(l)
print("tuple is",a)

enter limit5
enter element34
enter element76
enter element99
enter element54
enter element34
tuple is (34, 76, 99, 54, 34)

Q 44.reverse an integer

In [6]:
n=int(input("enter the integer"))
x=n
r=0
while n>0:
    d=n%10
    r=r*10+d
    n=n//10
print("the reversed integer is:",r)

enter the integer8743
the reversed integer is: 3478